@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-position: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    overflow: auto;
    text-align: center;
    margin: 0;
    align-items: center;
}

.video-background {
  background: #000;
  color-adjust: rgba(0, 0, 0, 0.575);
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

.video-background iframe {
  aspect-ratio: 16 / 9;
  color-adjust: rgba(0, 0, 0, 0.575);
  left: 50%;
  height: 100%;
  width: 100%;
  min-width:min-content;
  min-height:min-content;
  align-self: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:rgba(0, 0, 0, 0.781);
    text-align: center;
    color:  gray;
   }
  ul img{
    height:50%;
    width:50%;
    align-content: center;
  }
  li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
  }
  li a:hover:not(.active) {
    background-color: rgb(66, 11, 37);
    color: white;
  }
