@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-position: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    text-align: center;
    margin: 0;
    align-items: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:rgba(85, 66, 82, 0.527);
    text-align: center;
    align-self: center;
    color:  gray;
  }
  
  li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
  }
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
.title{
    color: coral;
    align-items: center;
}
.button {
  background-color: #be91c7;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {opacity: 1}

.pics{
  opacity: 0;
  overflow: hidden;
  height: 1px;
  width: 1px;
}
